<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ETWeb" connectionString="Data Source=vxmtymxintdev01\intsqldev01;Initial Catalog=ETWebDMO114;Persist Security Info=True;User ID=sa;Password=chopito"
        providerName="System.Data.SqlClient" />
    <add name="ETWebDev" connectionString="Data Source=vxmtymxintdev01\intsqldev01;Initial Catalog=ETWebDEV114;Persist Security Info=True;User ID=sa;Password=chopito"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>