USE [ETWebDEV103]
GO
/****** Object:  StoredProcedure [dbo].[sp_CompareText]    Script Date: 07/19/2016 11:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CompareText](        
 @Spro VARCHAR(max),        
 @Sdev VARCHAR(max),
 @len int = 0    
)        
as        
begin
        
--http://www.sensefulsolutions.com/2010/10/format-text-as-table.html        
--http://www.tablesgenerator.com/text_tables        
--http://truben.no/table/        
DECLARE @xmlpro XML, @xmldev XML
          
          
declare @temp table(plataform varchar(max), line1 varchar(max))

SET @xmlpro = CAST('<col><row>' + REPLACE(@Spro, CHAR(13), '</row><row>') + '</row></col>' AS XML)
SELECT
	'PRO' AS plataform,
	REPLACE(LTRIM(RTRIM(T.Item.value('.', 'varchar(8000)'))), CHAR(10), '') AS line1 INTO #temp1
FROM @xmlpro.nodes('/col/row') AS T (Item)

SET @xmldev = CAST('<col><row>' + REPLACE(@Sdev, CHAR(13), '</row><row>') + '</row></col>' AS XML)
SELECT
	'DEV' AS plataform,
	REPLACE(LTRIM(RTRIM(T.Item.value('.', 'varchar(8000)'))), CHAR(10), '') AS line1 INTO #temp2
FROM @xmldev.nodes('/col/row') AS T (Item)

INSERT INTO @temp (plataform, line1)
	SELECT
		plataform,
		line1
	FROM #temp1 UNION ALL SELECT
		plataform,
		line1
	FROM #temp2

--select * from @temp        

SELECT
	--tpivot.*,
	ROW_NUMBER() OVER (ORDER BY tpivot.line1 ASC) AS Row,
	tpivot.line1 "Object",
	[PRO] =
			CASE WHEN tpivot.[PRO] > 0 THEN 'x'
				ELSE '-'
			END,
	[DEV] =
			CASE WHEN tpivot.[DEV] > 0 THEN 'x'
				ELSE '-'
			END
FROM @temp t
PIVOT (COUNT("plataform")                                                    -- Pivot on this column        
FOR "plataform" IN ([PRO], [DEV]))         -- Make colum where IncomeDay is in one of these.        
AS tpivot
WHERE LEN(tpivot.line1) > @len


SELECT
	t1.line1 AS "Produccion",
	t2.line1 "Desarrollo"
--into #temp_compare        
FROM #temp1 t1
FULL JOIN #temp2 t2
	ON t1.line1 = t2.line1
WHERE (LEN(t1.line1) > @len
OR LEN(t2.line1) > @len)

--select *         
--from #temp_compare                                     -- Colums to pivot        


--drop table #temp_compare          
DROP TABLE #temp1
DROP TABLE #temp2
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddColumn]    Script Date: 07/19/2016 11:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddColumn](  
 @TABLE_NAME varchar(max),  
 @COLUMN_NAME varchar(max),  
 @TABLE_SCHEMA varchar(max) = 'dbo'  
   
)  
as  
begin  
PRINT '--INICIA'      
BEGIN TRY  
      BEGIN TRAN  
      SET NOCOUNT ON  
      declare @Item varchar(max),  
     @ItemText varchar(max)  
      select * into #temp from [dbo].[Split](@COLUMN_NAME,'|')        
      WHILE (select count(*) from #temp) > 0  
         BEGIN  
                  SELECT TOP 1 @Item = Item FROM #temp  
                  -- Begin Custom Logic    
                  ---------------------                 
      SELECT @ItemText = 'ALTER TABLE '+QUOTENAME(TABLE_NAME)  
        +' ADD '+QUOTENAME(COLUMN_NAME)+' '   
        + QUOTENAME(DATA_TYPE)  
        + CASE   
         WHEN DATA_TYPE LIKE '%CHAR%' THEN '('+REPLACE(CAST(CHARACTER_MAXIMUM_LENGTH AS VARCHAR(50)),'-1','MAX') +')'   
        ELSE ''   
        END   
         + CASE   
        WHEN DATA_TYPE IN ('NUMERIC','DECIMAL') THEN '('+CAST(NUMERIC_PRECISION AS VARCHAR(50)) + ',' + CAST(NUMERIC_SCALE AS VARCHAR(50)) + ')'   
        ELSE ''   
        END   
         + CASE   
        WHEN IS_NULLABLE = 'YES' THEN ' NULL'   
          ELSE ' NOT NULL'   
        END   
         + CASE   
          WHEN COLUMN_DEFAULT IS NULL THEN ''   
        ELSE ' DEFAULT '+ COLUMN_DEFAULT   
        END  
      FROM INFORMATION_SCHEMA.COLUMNS    
      WHERE TABLE_NAME = @TABLE_NAME AND TABLE_SCHEMA = @TABLE_SCHEMA and COLUMN_NAME= @Item  
       
       
      PRINT '--@Item:' +  convert(varchar(max),@Item)                      
      PRINT 'IF COL_LENGTH(''' + @TABLE_NAME + ''',''' + @Item + ''') IS NULL'  
      PRINT 'BEGIN'  
      PRINT ' ' + @ItemText        
      PRINT ' PRINT ''LA COLUMNA INSERTADA: ' + @Item + ''''  
      PRINT 'END'  
      --PRINT 'ELSE'  
      --PRINT 'BEGIN'  
      --PRINT ' PRINT ''LA COLUMNA YA EXISTE: ' + @Item + ''''  
      --PRINT 'END'  
                  ---------------------  
                  -- End Custom Logic             
                  DELETE T FROM #temp AS T WHERE T.Item = @Item                    
         END;  
      DROP TABLE #temp  
      SET NOCOUNT OFF  
      COMMIT TRAN  
PRINT '--EXITO'      
END TRY  
BEGIN CATCH  
      PRINT ERROR_MESSAGE()  
      ROLLBACK TRAN  
END CATCH  
END
GO
